// Btn Submit Form
.btn-green {
  background-color: var(--main-bg-green);
  color: var(--main-bg-white);
  border-radius: 23px;
  font-weight: 700;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

  &:hover {
    background-color: var(--main-bg-orange);
    color: black;
  }
}

.btn-red-delete {
  color: var(--main-bg-light-red);
  transition: 0.2s;

  &:hover {
    color: var(--main-bg-red);
    transform: scale(1.2);
  }

  &:active {
    /* Scaling button to 0.85 to its original size */
    transform: scale(0.85);
  }
}

.btn-blue-update {
  border: none;
  background-color: transparent;
  color: var(--main-bg-light-blue);
  &:hover {
    color: var(--main-bg-blue);
    transform: scale(1.2);
  }

  &:active {
    /* Scaling button to 0.85 to its original size */
    transform: scale(0.85);
  }
  &:focus {
    outline: none !important;
  }
}

.btn-purple-create {
  color: var(--main-bg-light-purple);
  background-color: transparent;
  border: none;
  transition: 0.2s;
  &:hover {
    color: var(--main-bg-purple);
    transform: scale(1.2);
  }
  &:active {
    /* Scaling button to 0.85 to its original size */
    transform: scale(0.85);
  }
  &:focus {
    outline: none !important;
  }
}

.btn-green-details {
  border: none;
  background-color: var(--main-bg-light-green);
  color: color;
  &:hover {
    transform: scale(1.05);
    background-color: var(--main-bg-green) !important;
  }
  &:active {
    /* Scaling button to 0.85 to its original size */
    transform: scale(0.85);
    outline: none !important;
    background-color: var(--main-bg-green) !important;
  }
  &:focus {
    outline: none !important;
    background-color: var(--main-bg-green) !important;
  }
}
