#logoHome {
  width: 550px;
  margin: auto;
  display: flex;
  align-items: center;
  border-radius: 50%;
  animation: animate 15s linear infinite;
}

@keyframes animate {
  0%,
  100% {
    border-radius: 70% 70% 80% 100% / 80% 80% 70% 100%;
  }
  20% {
    border-radius: 100% 80% 100% 90% / 90% 60% 100% 70%;
  }
  40% {
    border-radius: 80% 100% 80% 100% / 70% 100% 70% 80%;
  }
  60% {
    border-radius: 100% 80% 100% 80% / 100% 90% 80% 70%;
  }
  80% {
    border-radius: 60% 100% 90% 90% / 60% 100% 80% 90%;
  }
}

#bg-orange {
  background-color: #f5a25d !important;
}
