.fa-star {
  color: var(--main-bg-yellow);
}

// Logo and Name's App
.fa-cookie-bite {
  color: var(--main-bg-green);
}

.fa-utensils {
  color: rgb(172, 172, 172);
}

.fa-fire {
  color: rgb(252, 118, 65);
}

.fa-apple-alt {
  color: rgb(114, 221, 114);
}
