#title-app-bold-black {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
}

// Forget Password
#forgot-password {
  font-size: 15px;
  color: var(--main-bg-black);

  &:hover {
    font-size: 15px;
    color: var(--main-bg-orange);
    cursor: pointer !important;
  }
}

// Typo for the **Sign Up Here**
.text-green {
  color: var(--main-bg-green);
  font-size: 18px;
}
