#sidebar-list {
  // general
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 0.8em;
  margin-left: 60px;
  border-radius: 35px;
  min-height: 80vh;
  width: 230px !important;
  background-color: var(--main-bg-orange);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);

  // list line-height in sideBar
  ul > li {
    line-height: 5em;
  }

  // sideBar links
  a {
    color: var(--main-bg-black);
    /* display: block; */
    padding: 16px;
    border-radius: 30px;
    background-color: var(--main-orange);
    cursor: pointer !important;
  }

  // sideBar links when hover and active
  a:hover,
  li.active a {
    color: var(--main-bg-white);
    background-color: var(--main-bg-green);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
  }
}
